@use "./variables.scss" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color: $primary-color) {
  background-color: $bg-color;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
