/* 기본 여백 제거 및 공통 스타일 초기화 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: #fdfdfd;
  color: #222;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
